<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/js/getAllLocations.js"></script>
<div class = "container">

    <form action="/members/new" method="post">
        <div class = "form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요"><br>

            <label for="email">이메일</label>
            <input type="email" id="email" name="email" placeholder="email을 입력하세요"><br>

            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요"><br>

            <label for="phoneNumber">전화번호</label>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="핸드폰 번호를 입력하세요"><br>

            <label for="nickName">닉네임</label>
            <input type="text" id="nickName" name="nickName" placeholder="닉네임을 입력하세요"><br>

            <label for="location">지역</label>
            <input type="text" id="location" name="location" onkeyup="filter()" placeholder="지역을 입력하세요"><br>
            <select id="resultLocationList" name="locations" onchange="setting()">
                <option th:each="location : ${locationList}" th:value="${location.address}" th:text="${location.address}">
                </option>

            </select>

        </div>
        <br>
        <button type="submit">등록</button>
    </form>
</div>

</body>
</html>