<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div>
        <form action="/mine/profile">
            <input type="submit" value="프로필 변경">
        </form>

        <form action="/mine/myProductList" method="post">
            <input type="hidden" name="status" th:value="SALE">
            <input type="submit" value="판매내역">
        </form>

        <form action="/mine/myInterestedList" method="post">
            <input type="hidden" name="status" th:value="SALE">
            <input type="submit" value="관심목록">
        </form>

        <form action="/members/logout">
            <input type="submit" value="로그아웃">
        </form>

        <form action="/">
            <input type="submit" value="홈">
        </form>
    </div>
</div>

</body>
</html>