<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div>
        <form action="/mine/profile">
            <input type="submit" value="프로필 변경">
        </form>

        <form action="/mine/myProductList">
            <input type="submit" value="판매내역">
        </form>

        <form action="/mine/myInterestedList">
            <input type="submit" value="관심목록">
        </form>

        <form action="/members/logout">
            <input type="submit" value="로그아웃">
        </form>

        <form action="/">
            <input type="submit" value="홈">
        </form>
    </div>
</div>
</body>
</html>